@{
    Layout = "~/Views/Shared/_LayoutRightSideBar.cshtml";
    ViewBag.Title = "Clube da Retro | Seguindo";
    ViewBag.MetaDesc = "Não perca a atualização dos seus tópicos e notícias favoritasdo Clube da Retro!";
}

@section side
{
    @Html.Partial("_CommonSideNav")
}

<div class="following">
    <div class="row default-header">
        <div class="col-md-12">
            <h2 class="title-bar">@Html.Lang("Following.Categories")</h2>
        </div>
    </div>
    <div class="following-categories">
        @Html.Action("GetSubscribedCategories", "Category")
    </div>
    <div class="row default-header">
        <div class="col-md-12">
            <h2 class="title-bar">@Html.Lang("Following.Topics")</h2>
        </div>
    </div>
    <div class="followingtopics">
        @Html.Action("GetSubscribedTopics", "Topic")
    </div>  
    
</div>