@{
    Layout = "~/Views/Shared/_LayoutRightSideBar.cshtml";
    ViewBag.Title = "Clube da Retro | Seguindo";
    ViewBag.MetaDesc = "Não perca a atualização dos seus tópicos e notícias favoritasdo Clube da Retro!";
}

@section side
{
    @Html.Partial("_CommonSideNav")
}

<div class="following">

    <div class="following-categories">
        <h2 class="title-bar">@Html.Lang("Following.Categories")</h2>
        @Html.Action("GetSubscribedCategories", "Category")
    </div>
    
    <div class="followingtopics">
        <h2 class="title-bar">@Html.Lang("Following.Topics")</h2>
        @Html.Action("GetSubscribedTopics", "Topic")
    </div>  
    
</div>